body{
    margin: 0px;
}
.text{
    border: 0px solid black ;
    background-image: linear-gradient(
        to right,
        red 5%,
        green 25%,
        yellow
    );
    text-decoration: underline;
    text-align: center;
}
.list{
    width: 800px;
    height: 60px;
    border: 2px solid red;
    background-color: skyblue;
    text-align: center;
    border-radius: 10px;
   position: relative;
   top: 0px;
   left: 250px;
}
.parent{
    height: 150px;
    padding-left: 0px;
    padding-top: 0px;
    margin: 0px;    
    border: 2px solid brown;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: aquamarine;
}
.child{
    background-color: aqua;
    border: 2px solid green;
    border-radius: 5px;
    width: 375px;
    height: 50px;
    padding: 0px;
    margin: 10px;
    font-weight: bold;
}
.text1{
    border: 0px solid black ;
    background-image: linear-gradient(
        to right,
        red ,
        yellow 50% ,
        red 
    );
    text-decoration: underline;
    text-decoration-color: rgb(201, 121, 0);
    text-align: center;
    height: 30px;
}
.parent1{
    height: 250px;
    border: 2px solid green;   
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    background-image: radial-gradient(
        blue 45%,
        aquamarine
        
    );
}
.child1{
    border: 2px solid red;   
    border-radius: 10px;
    background-color: yellow;
    width: 200px;
    height: 100px;
    text-align: center;
    text-decoration: underline;
    color: rgb(165, 0, 0);
    font-weight: bold;
    padding-bottom: 15px;
}
.grid-container{
    border: 2px solid black;
    background-color: white;
    padding: 0px;
    
    display: grid;
    grid-template-columns: repeat(3, auto) 150px;
    grid-template-rows: auto 120px auto 80px ;
}
.item{
    background-color: yellowgreen;
    padding: 10px;
    margin: 5px;
}
.item1{
    grid-column: 1/5;
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;

}
.item2{
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: green;
    font-size: 25px;
}
.item3{
    color: white;
    text-align: left;
    font-weight: bold;
    background-color: blue;
    font-size: 25px;
}
.item4{
    color: white;
    text-align: left;
    font-weight: bold;
    background-color: blueviolet;
    font-size: 25px;
}
.item5{
    grid-column: 4/5;
    grid-row: 2/5;
    color: white;
    text-align: left;
    font-weight: bold;
    background-color: black;
}
.item6{
    grid-column: 1/4;
    grid-row: 3/5;
    color: white;
    text-align: left;
    font-weight: bold;
    background-color: orange;
    font-size: 18px;
}
.item7{
    grid-column: 1/5;
    grid-row: 5/6;
    text-align: center;
    font-weight: bold;
    background-color: aqua;
}